<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Addresses</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<table class="table col-md-6 ml-3">
    <thead>
    <tr>
        <th>Id</th>
        <th>Street</th>
        <th>Number</th>
        <th>Box</th>
        <th>Zip</th>
        <th>City</th>
        <th>Country</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.number}"></td>
        <td th:text="${address.box}"></td>
        <td th:text="${address.zip}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.country}"></td>
        <td th:text="${address.type}"></td>
        <td><button>edit</button></td>
        <td><button>delete</button></td>
    </tr>
    </tbody>
</table>

<p>
    <a th:href="@{/addresses/new}" class="btn btn-link">New address</a>
    <button>save changes</button>
</p>
</body>
</html>