<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Communitymembers</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div>
    <h2>Dit zijn de members van uw community:</h2>
    <h3>Dikke KAK! Het is me niet gelukt om de members van een welbepaalde community op te halen! GRRR!</h3>
    <img th:alt="kak" th:src="@{images/monkey.jpg}" th:width="1000" th:height="200"/>

</div>

</body>
</html>