<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add member</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background: chocolate">
<div><img src="/images/angrycat.jpg" ><h1 style="display: inline">SEG!!!</h1></div>

<h2 style="text-decoration-color: blanchedalmond">HEBT GIJ ENIG IDEE HOE MOEILIJK DAT IS OM MET DIE <span style="color: yellow">EMBEDDED ID'S</span>TE WERKEN!!!! UUUUUREN HEB IK EROP GEZETEN EN NIETS IS GELUKT</h2>

<p style="color: yellow">Neen! u kunt dus geen nieuw member aanmaken!</p>

<img src="/images/vloek.jpg" style="align-content: center">
<a th:href="@{/}" class="btn btn-primary">Hop! Naar huis</a>


</body>
</html>