<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Members</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<table class="table col-md-6 ml-3">
    <thead>
    <tr>
        <th>Id</th>
        <th>Member since</th>
        <th>Member until</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.since}"></td>
        <td th:text="${member.until}"></td>
    </tr>
    </tbody>
</table>

<p>
    <a th:href="@{/members/new}" class="btn btn-link">New member</a>
    <a th:href="@{/}" class="btn btn-link">Home</a>

</p>
</body>
</html>