<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml">
<head>

    <title>Add member to community</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="hero:unit">
        <h3>Jouw community: </h3>
        <div>
            <label class="title">Jouw Community: </label>
            <label class="description" th:text="${commie.ID}" style="display: inline"></label>
        </div>
        <div>
            <label>Beschrijving: </label>
            <label th:text="${commie.description}"style="display: inline"></label>
        </div>

        <div>
            <table>
                <thead>
                <tr>
                    <label>Members: </label>
                </tr>
                </thead>
                <tbody>
                <tr th:each="membername : ${namesofmembers}" style="margin-bottom: 10px">
                    <label th:text="${membername[1]}" style="margin-left: 5px"></label>
                    <label th:text="${membername[0]}" style="display: inline; margin-left: 5px"></label>
                    <label style="display: inline"> - </label>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
<p></p>
        </div>
        <table class="table col-md-6 ml-3">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>